$tipoletra: "Times New Roman", Times, serif;

$tamletra: 18px;

.desplegable{
float:left;
width: 50%;
text-align: center;
margin-top: 10px;
}

#Comunidad{
  width: 40%;
  font-size: $tamletra;
  font-family: $tipoletra;
}
