<div class="template-main">

  <!-- COMUNIDAD -->
  <div class = desplegable>
    Comunidad:

    <select name='Comunidad' [(ngModel)]="id_comunidad_seleccionada">
      <option [value]='comunidad' *ngFor='let comunidad of comunidades' > {{comunidad[0]}} </option>
    </select>
  </div>

  <!-- PROVINCIA -->
  <div class = desplegable>
    Provincia:
    <select name='Provincia' >
      <option [value]='option' *ngFor='let option of option2' > {{option.texto}} </option>
    </select>



  </div>

<ng-content>

</ng-content>
</div>
